<div class="pagecontainer1">
  <h1>Editar clave</h1>
  <br/>
  <div style="width:400px; vertical-align:middle; margin-left:auto; margin-right:auto;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <table>
      <tr>
        <td>
        <label for="auto" class="contol-label1" style="text-align:right; font-size:130%">Email: </label>
      </td>
      <td>
          <%= f.email_field :email, autofocus: true, :class=>'otro-sign', :disabled=>true %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="auto" class="contol-label1" style="text-align:right; font-size:130%">Nueva Clave: </label>
        </td>
      <td>
          <%= f.password_field :password, autocomplete: "off", :class=>'otro-sign' %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="auto" class="contol-label1" style="text-align:right; font-size:130%">Confirmar Clave: </label>
        </td>
      <td>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'otro-sign' %>
      </td>
      </tr>
      <tr>
        <td>
          <label for="auto" class="contol-label1" style="text-align:right; font-size:130%">Clave Actual: </label>
        </td>
      <td>
        <%= f.password_field :current_password, autocomplete: "off", :class=>'otro-sign'%>
      </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit "Editar clave", :class=>'btn btn-large btn-block btn-primary icon-ok-circle' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
         <%#= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>'btn btn-large btn-default btn-block' %>
        </td>
      </tr>
    </table>


<%= link_to "Volver", :back, {:style=>"text-align:center;"} %>
</div>
</div>