<script>
	$(document).ready( function() {
	    
	});
</script>
<br/>

	<div class="row" style="width:850px; margin-left:auto; margin-right:auto; margin-top:70px;">
		
		<div class="col-md-12">
		<% if user_signed_in? %>	
			<%#= image_tag("rss.jpg", :alt => "rss feed") %>
			<%#= auth.info.name %>
			<div style="float:right;">Sesión iniciada como <strong><%= current_user.email %></strong>. No eres tú?
				<%= link_to "Cerrar sesión", destroy_user_session_path, :method=> :delete %>
				<%= link_to "| Cambiar contraseña", edit_user_registration_path %>

			</div>

			<% if @student1 %>
				<%= render "students/editform" %>
			<% else %>
				<%= render "students/newform" %>
			<% end %>
					
			<br/>

		<% else %>
			<!--<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Debes iniciar sesión para continuar</h3>-->
			<script type="text/javascript">
    			window.location.href="/users/sign_up"
  			</script>
			<%#= link_to "crea una cuenta", new_user_registration_path %>
		<% end %>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<%end%>
	</div>
</div>
