<h3>Personas Ingresadas</h3>
<div style="overflow:scroll;">
	<br/>
	<p>
	  Download:
	  <%= link_to "CSV", students_path(format: "csv") %> |
	  <%= link_to "Excel", students_path(format: "xls") %>
	</p>
	<br/>
		<table class="table table-stripped table-condensed" style="text-align:center color:#B7B7B7; overflow:scroll;">
			<tr style="text-align:center color:white;">
				<th>Link</th>
				<th>Creado/<br/>Editado</th>
				<th>ID</th>
				<th>Nombre<br/>Apellido1<br/>Apellido2</th>
				<th>Sexo</th>
				<th>Rut</th>
				<th>EMail</th>
				<th>Cel<br/>Empresa<br/>Contrato</th>
				<th>Hijos</th>
				<th>Año Nacimiento</th>
				<th>ComunaRegión</th>
				<th>ColegioEstudios</th>
				<th>Universidad/<br/>
					Carrera</th>
				<th>Ingreso/<br/>
					Duracion/<br/>
					Egreso</th>
				<th>Ing,Ale,Port, Fra,Chi,Otros</th>
				<th>Experiencia?</th>
				<th>Donde?</th>
				<th>Renta/hora</th>
				<th>Sector preferente</th>
				<th>Movilizacion?/<br/>
					Marca/<br/>
					Año/</th>
				<th>Hobbiessssssssss</th>
				<th>Deportesssssssss</th>

			</tr>

		   
		<% if !@students.blank? %>
			<% for item in @students %>
				<tr>
					<td>
						<%= link_to 'Editar', edit_student_path(item) %>
						<%= link_to 'Borrar', student_path(item), method: :delete, data: { confirm: '¿Seguro que quieres eliminar esta entrada? 
							Luego de esta acción no hay vuelta atrás' } %>
					</td>
					<td><%= item.created_at %>
						<%= item.updated_at %>
					</td>
					<td><%= item.id %></td>
					<td><%= item.firstname %>
						<%= item.lastname %>
						<%= item.secondlastname %> </td>
					<td><%= item.sexo %> </td>
					<td><%= item.rut %></td>
					<td><%= item.email %> </td>
					<td><%= item.cel %><br/>
						<%= item.empresaCel %><br/>
						<%= item.contratoCel %></td>
					<td><%= item.hijos %></td>
					<td><%= item.fechaNac %></td>
					<td style="width:300px;"><%= item.comunaId %></td>
					<td><%= item.colegioId %></td>
					<td><%= item.universidadId %>/<br/>
						<%= item.carreraId %></td>
					<td><%= item.fechaIngreso %>/<br/>
						<%= item.duracion %>/<br/>
						<%= item.fechaEgreso %></td>
					<td><%= item.nivelIngles %><br/>
						<%= item.nivelAleman %><br/>
						<%= item.nivelPortugues %><br/>
						<%= item.nivelFrances %><br/>
						<%= item.nivelChino %><br/>
						<%= item.OtrosIdiomas %></td>
					<td><%= item.experiencia %></td>
					<td><%= item.experiencias %></td>
					<td><%= item.rentaHora %></td>
					<td><%= item.sectorId %></td>
					<td><%= item.auto %>/<br/>
						<%= item.marcaAuto %>/<br/>
						<%= item.anioAuto %></td>
					<td><%= item.hobbies %></td>
					<td><%= item.deportes %></td>
				</tr>
			<% end %>
		<% else %>
		<% end %>
	</table>
</div>