<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="es-ES">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="es-ES">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="es-ES">
<!--<![endif]-->
<head>
<title>UWork - Portal de Trabajos part-time/freelance para estudiantes</title>
<meta name="description" content="UWork es una bolsa de trabajo que está 100% enfocada en estudiantes. Facilitamos a las empresas en la búsqueda de candidatos para trabajos part time o esporádicos.">
<meta name="keywords" content="pega,trabajo,part-time,free-lance, part-time santiago, universitario, estudiante, trabajo part-time">
<meta name="author" content="RYO Assets, PROTAM">
<meta name="generator" content="RYO Assets" />
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<script type='text/javascript' src='/chosen.jquery.js'></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<link rel="shortcut icon" href="/images/uworkICO.ico">
<link rel="pingback" href="http://www.monteblancogourmet.cl/wp/xmlrpc.php" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://www.monteblancogourmet.cl/wp/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; RSS de los comentarios" href="http://www.monteblancogourmet.cl/wp/?feed=comments-rss2" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Inicio RSS de los comentarios" href="http://www.monteblancogourmet.cl/wp/?feed=rss2&#038;page_id=2" />
<link rel='stylesheet' id='invert-style-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/style.css?ver=3.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='sktcolorbox-theme-stylesheet-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/css/prettyPhoto.css?ver=1.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='sktawesome-theme-stylesheet-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/css/font-awesome.css?ver=1.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='awesome-theme-stylesheet-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/css/font-awesome-ie7.css?ver=1.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='sktddsmoothmenu-superfish-stylesheet-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/css/superfish.css?ver=1.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-responsive-theme-stylesheet-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/css/bootstrap-responsive.css?ver=1.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='googleFontsRoboto-css'  href='http://fonts.googleapis.com/css?family=Roboto+Condensed%3A400%2C400italic%2C300italic%2C300&#038;ver=1.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='googleFontsLato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700&#038;ver=1.0.3' type='text/css' media='all' />
<script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/js/jquery.easing.1.3.js?ver=1.0.3'></script>
<!--<script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/js/custom.js?ver=1.0.3'></script>-->
<script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-includes/js/comment-reply.min.js?ver=3.8.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.monteblancogourmet.cl/wp/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.monteblancogourmet.cl/wp/wp-includes/wlwmanifest.xml" /> 
<link rel='next' title='Formulario' href='http://www.monteblancogourmet.cl/wp/?page_id=33' />

<link rel='canonical' href='http://www.monteblancogourmet.cl/wp/' />
<link rel='shortlink' href='http://www.monteblancogourmet.cl/wp/?p=2' />
<!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">-->

<style type="text/css">
/***************** Header Custom CSS *****************/
.skehead-headernav{background: #4b1c93;}
/***************** Theme Custom CSS *****************/
.flex-control-paging li a.flex-active{background: #4b1c93; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover,a#backtop,.slider-link a:hover,#respond input[type="submit"]:hover,.skt-ctabox div.skt-ctabox-button a:hover,#portfolio-division-box a.readmore:hover,.project-item .icon-image,.project-item:hover,.filter li .selected,.filter a:hover,.widget_tag_cloud a:hover,.continue a:hover,blockquote,.skt-quote,#invert-paginate .invert-current,#invert-paginate a:hover,.postformat-gallerydirection-nav li a:hover,#wp-calendar,.comments-template .reply a:hover,#content .contact-left form input[type="submit"]:hover,.service-icon:hover,.skt-parallax-button:hover,.sktmenu-toggle {background-color: #529de2; }
.skt-ctabox div.skt-ctabox-button a,#portfolio-division-box .readmore,.teammember,.continue a,.comments-template .reply a,#respond input[type="submit"],.slider-link a,.ske_tab_v ul.ske_tabs li.active,.ske_tab_h ul.ske_tabs li.active,#content .contact-left form input[type="submit"],.filter a,.service-icon,.skt-parallax-button{border-color:#007FBB;}
.clients-items li a:hover{border-bottom-color:#007FBB;}
a,.ske-footer-container ul li:hover:before,.ske-footer-container ul li:hover > a,.ske_widget ul ul li:hover:before,.ske_widget ul ul li:hover,.ske_widget ul ul li:hover a,.title a ,.skepost-meta a:hover,.post-tags a:hover,.entry-title a:hover ,.continue a,.readmore a:hover,#Site-map .sitemap-rows ul li a:hover ,.childpages li a,#Site-map .sitemap-rows .title,.ske_widget a,.ske_widget a:hover,#Site-map .sitemap-rows ul li:hover,.mid-box:hover .iconbox-icon i,#footer .third_wrapper a:hover,.ske-title,#content .contact-left form input[type="submit"],.filter a,service-icon i,.social li a:hover:before,#respond input[type="submit"]{color: #529de2;text-decoration: none;}
.page #content .title, .single #content .title,#content .post-heading,.childpages li ,.fullwidth-heading,.comment-meta a:hover,#respond .required{color: #4b1c93;} 
#skenav a{color:#4b1c93;}
#skenav ul ul li a:hover{background: none repeat scroll 0 0 #4b1c93;color:#fff;}
#full-twitter-box,.progress_bar {background: none repeat scroll 0 0 #CECECE;}
#skenav ul li.current_page_item > a,
#skenav ul li.current-menu-ancestor > a,
#skenav ul li.current-menu-item > a,
#skenav ul li.current-menu-parent > a { background:#4b1c93;color:#fff;}
#respond input, #respond textarea { border: 1px solid #4b1c93;  }
#searchform input[type="submit"]{ background: none repeat scroll 0 0 #4b1c93;  }
.col-one .box .title, .col-two .box .title, .col-three .box .title, .col-four .box .title {color: #4b1c93 !important;  }
  .full-bg-breadimage-fixed { background-image: url("");}
.full-bg-image-fixed { background-image: url(""); }

/***************** Team bg *****************/
#team-division-box{background-color: ;}

/***************** Paginate *****************/
#skenav li a:hover,#skenav .sfHover { background: none repeat scroll 0 0 #333333;color: #FFFFFF;}
#skenav .sfHover a { color: #FFFFFF;}
#skenav ul ul li { background: none repeat scroll 0 0 #333333; color: #FFFFFF; }
#skenav .ske-menu #menu-secondary-menu li a:hover, #skenav .ske-menu #menu-secondary-menu .current-menu-item a{color: #71C1F2; }
.footer-seperator{background-color: rgba(0,0,0,.2);}
#skenav .ske-menu #menu-secondary-menu li .sub-menu li {margin: 0;}
</style>  <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>

<body style="width:1000px; color:#666666;font-family:'Roboto Condensed',sans-serif;font-size:15px;font-weight: 300;line-height: 25px;margin-left: auto;margin-right: auto; overflow:scroll;">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50530142-3', 'uwork.cl');
  ga('send', 'pageview');

</script>
<script>
  $(function() {
    return $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '150px'
    });
  });
  $(function() {
    return $('.chosen-select1').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '80px'
    });
  });
</script>


	<div style="width:1000px; margin-left:auto; margin-right:auto;">
    <div id="wrapper" class="skepage">

      <div id="header1" class="skehead-headernav1 clearfix1" style="border-bottom:0px solid; position:absolute;">
        <% if flash[:error] -%>
          <p class='error' id="error"><%=h flash[:error] %></p>
          <%= javascript_tag "$('#error').fadeOut(5000)" %>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice' id="notice"><%=h flash[:notice] %></p>
          <%= javascript_tag "$('#notice').fadeOut(5000)" %>
        <% end -%>
        <% if flash[:alert] -%>
          <p class='alert' id="alert"><%=h flash[:alert] %></p>
          <%= javascript_tag "$('#alert').fadeOut(5000)" %>
        <% end -%>
        <div class="glow1">
          <div id="skehead1">
            <div class="container1">      
              <div class="row-fluid clearfix1">  
                <!-- #logo -->
                <div>
                  <a title="UWork" href="/inicio" >
                    <img id="logo1" src="/images/logouwork2.png"/>
                  </a>
                </div>
                <!-- #logo -->
                
                <!-- navigation-->
                <div id="top-nav-menu1 span6">
                  <div class="ske-menu1" id="skenav1">
                    <ul id="menu-main1" class="menu1">
                      <li class="page_item1">
                        <%= link_to "Inicio", inicio_path, class: "navlink" %>
                        <!--<a onclick="showInicio()" class="navlink">Inicio</a>-->
                      </li>
                      <li class="page_item1">
                        <%= link_to "Postula!", postula_path, class: "navlink" %>
                        <!--<a onclick="showForm()" class="navlink">Postula!</a>-->
                      </li>
                      <li class="page_item1">
                        <%= link_to "Empresas", empresas_path, class: "navlink" %>
                      </li>
                      <li class="page_item1">
                        <%= link_to "Contacto", contacto_path, class: "navlink" %>
                        <!--<a onclick="showContact()" class="navlink">Contáctanos</a>-->
                      </li>
                      <li style="margin-left:5px;">
                        <div style="margin-top:10px;">
                          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fuworkcl&amp;width=75&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:65px;" allowTransparency="true"></iframe>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- #navigation --> 
              </div>
            </div>
          </div>
          <!-- #skehead -->
        </div>
        <!-- .glow --> 
      </div>
      <!-- #header -->
      
      <%= yield %>	


              <!-- full-division-box -->
         
        <!-- full-client-box -->

        <div id="full-twitter-box"></div>
      </div>
        <!-- #main --> 
  
      <!-- #footer -->
      <div id="footer" style="position: fixed;bottom: 0px;left: 0px;width: 100%; height:50px;">
        <div class="container">
          <div class="row-fluid">
            <div class="second_wrapper">
                        <div class="clear"></div>
            </div>
            <!-- second_wrapper -->
          </div>
        </div>
        <div class="third_wrapper">
          <div class="container">
            <div class="row-fluid">
              <div class="copyright span6 alpha omega">
                <a href="http://www.ryoassets.com"> Proyecto de RYO Assets</a><a href="#"> y PROTAM</a>
              </div>
              <div class="owner span6 alpha omega">UWork.cl - El primer portal laboral dedicado 100% a los estudiantes. | 
              <a href="https://plus.google.com/106369342059997764130" rel="publisher">Google+</a>|
              <a href="https://www.facebook.com/uworkcl" rel="publisher">facebook</a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <!-- third_wrapper --> 
        </div>
      <!-- #footer -->

    </div>
    <!-- #wrapper -->

        <a href="#" title="Back To Top" id="backtop"></a>
            <style type="text/css">
            #wrapper {
            background:#ffffff    }
          </style>
              
        <!--<script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/js/jquery.prettyPhoto.js?ver=1'></script>
        <script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/js/hoverIntent.js?ver=1'></script>
        <script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/js/superfish.js?ver=1'></script>
        <script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/themes/invert-lite/js/cbpAnimatedHeader.js?ver=1'></script>-->






      <footer id="colophon" class="site-footer" role="contentinfo">

      <div id="footer-widgets" class="full-container"> 
        <aside id="siteorigin-panels-image-2" class="widget widget_siteorigin-panels-image"><img src="" /></aside>  </div><!-- #footer-widgets --> 
        <h1></h1>
        <style>
          h1 {color:grey;}
          h1 {text-align:center;}
    

        </footer><!-- #colophon .site-footer -->
        </div><!-- #page-wrapper -->
      	</div>
        <a href="#" id="scroll-to-top"></a><link rel='stylesheet' id='metaslider-flex-slider-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/plugins/ml-slider/assets/sliders/flexslider/flexslider.css?ver=2.7.1' type='text/css' media='all' />
        <link rel='stylesheet' id='metaslider-public-css'  href='http://www.monteblancogourmet.cl/wp/wp-content/plugins/ml-slider/assets/metaslider/public.css?ver=2.7.1' type='text/css' media='all' />
        <script type='text/javascript' src='http://www.monteblancogourmet.cl/wp/wp-content/plugins/ml-slider/assets/sliders/flexslider/jquery.flexslider-min.js?ver=2.7.1'></script>
        
      </body>
      </html>